nav{
  display: flex;
  justify-content:space-between;
  padding: 15px;
}

ul{
  display: flex;
  gap: 20px;
}

a{
  color: black;
}

.cart-logo{
  font-size: 24px;
}
.btn-cart{
  border: none;
  background-color: transparent;
}

.saludo{
  text-align: center;
}